.footer {
  background: $bg-intro;
  padding: 60px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 20px;
  color: $white;

  img {
    width: 30px;
  }

  p {
    color: $grey1;
    max-width: 30ch;
    font-size: clamp($t1, 3vw, $t3);
  }

  .redes-sociais a {
    position: relative;
    display: flex;
    gap: 15px;
    margin: 10px 0;
    font-size: clamp($t2, 3vw, 3rem);
    color: $grey1;
    transition: $transition;

    &:hover {
      color: $white;
    }

    img {
      width: 22px;
    }
  }
}

.btn-top {
  position: fixed;
  bottom: 3%;
  right: 3%;
  background: lightgreen;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  animation: arrow 0.8s ease alternate infinite;
  transition: $transition;

  &:hover {
    background: rgb(130, 226, 130);
  }

  img {
    width: 30px;
  }
}

.hand {
  display: inline-block;
  animation: shake 1.2s ease alternate infinite;
  transform-origin: bottom;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@media (max-width: 900px) {
  footer {
    padding: 40px 0;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }

  .contato .redes-sociais a img {
    width: 18px;
  }
}
