.footer {
  background: $bg-intro;
  padding: 60px 0 0 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 20px;
  margin-bottom: 60px;
  color: $white;

  img {
    width: 30px;
  }

  p {
    color: $grey1;
    max-width: 30ch;
    font-size: clamp($t1, 3vw, $t3);
  }

  .redes-sociais a {
    position: relative;
    display: flex;
    gap: 15px;
    margin: 10px 0;
    font-size: clamp($t2, 3vw, 3rem);
    color: $grey1;
    transition: $transition;

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    img {
      width: 22px;
    }
  }
}

.copyright {
  background: #0e0e0e;
  padding: 10px 0;
  text-align: center;

  a {
    font-weight: 700;
    font-size: clamp($t2, 3vw, $t3);
  }
}

@media (max-width: 900px) {
  footer {
    padding: 40px 0;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }

  .contato .redes-sociais a img {
    width: 18px;
  }
}
