/* Font and sizes */
$barlow: "Barlow", sans-serif;
$t1: 1.6rem;
$t2: 1.8rem;
$t3: 2.4rem;
$t4: 4.8rem;
$t5: 7.2rem;
$experiencias: 14.4rem;
$white: #f6f4f3;
$grey1: #c2c0bf;
$bg-intro: #0d1117;
$transition: all 0.3s ease;

/* All resets, font and color styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $barlow;
}

.gradient {
  background: linear-gradient(180deg, #fcb526 0%, #ff850a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // text-fill-color: transparent;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 100px;
}

.detalhe {
  position: absolute;
  z-index: -1;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
  display: inline-block;
}
